<div class="categories-container">

  <section class="header">

    <div class="header-content">

      <span class="tag">
        📂 Gestión de Categorías
      </span>

      <h1>Categorías</h1>

      <p>
        Administra las categorías de maquillaje registradas en el sistema.
      </p>

    </div>

  </section>

  <div class="search-container">

    <input
      type="text"
      placeholder="Buscar categoría..." />

    <button (click)="createCategory()">
      Nueva Categoría
    </button>

  </div>

  <div
    class="categories-grid"
    *ngIf="categories.length > 0">

    <div
      class="category-card"
      *ngFor="let category of categories">

      <div class="top">

        <div class="icon">
          {{ getCategoryIcon(category.name) }}
        </div>

        <span
          class="status"
          [class.active]="category.isActive"
          [class.inactive]="!category.isActive">

          {{ category.isActive ? 'Disponible' : 'Oculta' }}

        </span>

      </div>

      <h2>
        {{ category.name }}
      </h2>

      <p class="description">
        {{ category.description || 'Sin descripción' }}
      </p>

      <div class="dates">

        <span>
          📅 Creada:
          {{ category.createdAt | date:'dd/MM/yyyy' }}
        </span>

        <span>
          🔄 Actualizada:
          {{ category.updatedAt | date:'dd/MM/yyyy' }}
        </span>

      </div>

      <div class="actions">

        <button
          class="edit-btn"
          (click)="editCategory(category)">

          ✏️ Editar

        </button>

        <button
          class="delete-btn"
          (click)="deleteCategory(category._id!)">

          🗑️ Eliminar

        </button>

      </div>

    </div>

  </div>

  <div
    *ngIf="categories.length === 0"
    style="
      text-align:center;
      margin-top:40px;
      font-size:22px;
      color:#777;
    ">

    💄 No hay categorías registradas

  </div>

</div>
















